*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* nav */
nav{
   border: 1px solid rgb(197, 196, 196);
}
.nav-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 20px 20px;
}
.google-logo{
    width: 100px;
    height: 40px;
}
.placeholder{
    width: 50%;
    /* height: 0px; */
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid rgba(194, 194, 194, 0.781);
    /* padding: 3px; */
    margin-right: 50px;
    box-shadow: 4px 4px rgb(196, 194, 194);
}
input{
    border-radius:30px ;
    margin-left: 5px;
    width: 100%;
    border: none;
    font-size: 20px;
    padding-left: 15px;
}
.placehold{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 3px;
}
.placehold div{
    display: flex;
    gap: 1rem;
    border-left: 1px solid rgb(194, 194, 194);
    padding: 10px;
}
.img{
    width: 25px;
    height: 25px;
}
.meet{
    width: 30px;
    height: 30px;
}
.setting{
    display: flex;
    gap: 1rem;
}
.setting i{
    font-size: 25px;
}
.t{
    width: 40px;
    text-align: center;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(71, 42, 42);
}
.t p{
    margin-top: 6px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.nav-buttom{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 15px 170px;
    color: rgb(90, 87, 87);

}
.nav-buttom img{
    width: 25px;
    height: 25px;
}
.menu{
    display: flex;
    gap:1rem ;
}
.menu div{
    display: flex;
    gap: 0.3rem;
}
.menu i{
    font-size: 20;
    margin-top: 5px;
}
#video{
    margin-top: 0;
}
.ronaldo{
    width: 90%;
    margin:0 auto;
}
.ronald{
    display: flex;
    padding-top: 30px;
    gap:2rem;
}
.cristiano{
    font-size: 30px;
}
.overview{
    display: flex;
    gap: 1rem;
    padding-top: 10px;
    margin-top: 10px;
}
.overview div{
    /* width: 10%; */
    border-radius: 30px;
    color: rgb(39, 39, 236);
    background-color: rgba(150, 209, 236, 0.658);
    padding:10px 15px;
    text-align: center;
}
.ronaldo-img{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;

}
/* .st-img{
    grid-row: span 1 / span 2;
} */
/* .ronaldo-img img{
    width: 360px;
}
.ronaldo-img .nd-img{
    width:250px;
    height: 150px;
}
.ronaldo-img .rd-img{
    width:270px ;
} */
/* .st-img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.nd-img{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 1.5;
}
.rd-img{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1.5;
    grid-row-end: 1;

} */
.ronaldo-container{
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    /* padding: 20px; */

}
.ronaldocristiano{
    width: 97%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
    gap: 1rem;
}
.ronaldo-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    gap: 5px;
}
.ronaldo-img img{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.st-img{
    grid-row: span 2 / span 2;
}
.about-ronald{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bio-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.sky{
    display: flex;
    flex-direction: column;
}
.sky img{
    width: 280px;
    border-radius: 30px 30px 0 0;
}
.sky-sport{
    width: 280px;
    padding: 20px;
    border-radius: 0 0 30px 30px;
    background-color:white;
}
.sky-sport .time{
    margin-top: 30px;
}
.time{
    font-size: 13px;
    color: rgb(145, 143, 143);
    margin-top: 10px;
}
.age{
    /* width: 130px; */
    background-color: rgba(197, 232, 248, 0.658);
    border-radius: 20px;
    text-align:left;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.old{
    margin-bottom: 30px;
}
.social{
    display: flex;
    /* width: 260px; */
    border-radius: 20px;
    background-color: white;
    grid-column: span 2 / span 2;
}
.social img{
    width: 100px;
    margin: 10px;
    border-radius: 20px;
}
.social div{
    padding: 10px;
    width: 60%;
}
.mail .time{
    padding-top: 40px;
}
.first-div{
    display: flex;
    /* width: 60%; */
    border-top: 1px solid rgb(198, 198, 240);
    border-bottom: 1px solid rgb(198, 198, 240);


}
.left-side{
    padding: 20px;
}
.news{
    margin-top: 20px;
    font-size: 20px;
    color: gray;
}
.left-side img{
    width: 280px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}
.lebron{
    display: flex;
    flex-direction: column;
}
.marca{
    display: flex;
    gap: 5px;
    border-bottom: 1px solid rgb(198, 198, 240);
    padding: 20px;
    width: 100%;
    font-size: 15px;
}
.marca img{
    width: 110px;
    height: 100px;
    border-radius: 15px;
}
.marca-logo img{
    width: 20px;
    height: 40px;
    padding-top: 15px;
}
.earosport{
    display: flex;
    gap: 5px;
    /* border: 1px solid rgb(146, 146, 241); */
    padding: 20px;
    width: 100%;
}
.euro{
    width: 110px;
    height: 100px;
    border-radius: 15px;
}
.second-div{
    display: flex;
    margin-top: 5px;
    border-bottom: 1px solid rgb(198, 198, 240);

}
.espana-img{
    width: 120px;
    height: 100px;
    border-radius: 15px;
}
.espana{
    display: flex;
    gap: 5px;
    padding: 20px;
    width: 100%;
}
.tribal{
    border-left: 1px solid rgb(198, 198, 240);
    padding: 20px;
    display: flex;
    gap: 5px;
    width: 100%;
}
.third-div{
    position: relative;
    display: flex;
    margin-top: 5px;
    border-bottom: 1px solid rgb(198, 198, 240);
}
.third-div .see-more{
    position: absolute;
    top: 180px;
    width: 100px;
    left: 90px;
    display: flex;
    gap:8px;
    background-color: rgb(238, 236, 236);
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    width: 70%;
    justify-content: center;
}
.goal{
    display: flex;
    gap: 5px;
    padding: 20px;
    width: 100%;
}
.goal-img{
    width: 120px;
    height: 100px;
    border-radius: 15px;
}
.mirror-img{
    width: 120px;
    height: 100px;
    border-radius: 15px;
}
.mirror{
    border-left: 1px solid rgb(198, 198, 240);
    padding: 20px;
    display: flex;
    gap: 5px;
    width: 100%;
}
h1{
    position: relative;
    padding-top: 30px;
    border-bottom: 1px solid rgb(198, 198, 240);
}
.no-one{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(198, 198, 240);
    /* border-top: 1px solid rgb(198, 198, 240); */
    padding: 20px;
}
.black{
    color: black;
    font-size: 12px;
}
.blue{
    font-size: 20px;
}
.a{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.top-stories{
    display: flex;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
}
.left{
    width: 60%;
}
.videos{
    position: relative;
    padding: 40px 0 10px;
    border-bottom: 1px solid rgb(198, 198, 240);
}
.videos img{
    border-radius: 12px;
    width: 130px;
    height: 90px;

}
.video{
    font-size: 25px;
    padding-bottom: 12px;
}
.ronaldo-videos{
    display: flex;
    gap: 1rem;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(198, 198, 240);

}
.ronaldo-videos .blue{
    font-size: 15px;
}
.videos .see-more{
    position: absolute;
    top: 415px;
    width: 100px;
    left: 90px;
    display: flex;
    gap:8px;
    background-color: rgb(238, 236, 236);
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    width: 70%;
    justify-content: center;
}
.ronado img{
    width: 50px;
    border-radius: 5px;
}
.ronado{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 5px;
    border-bottom: 1px solid rgb(198, 198, 240);


}
.wife p{
    padding-top: 15px;
}
.ronado i{
    padding-top: 20px;
    justify-content:center ;
}
.related{
    font-size: 23px;
}
.ronado .wife{
    display: flex;
    justify-content: center;
    gap: 8px;
    /* flex-direction: column; */
}
.browse{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 30px;
}
.browse div{
    padding: 10px 10px 10px 20px;
    background-color: rgb(238, 236, 236);
    display: flex;
    gap: 2rem;
    border-radius: 25px;
}
.browse span{
    font-weight: 600;
}
i{
    color: gray;
}
.long-logo .blue{
    color: blue;
}
.long-logo .orange{
    color: orange;
}
.long-logo .red{
    color: red;
}
.long-logo .green{
    color: green;
}
.right{
    width: 40%;
    border-left:  1px solid rgb(198, 198, 240);
    padding: 20px 0 20px 40px;
}
.world{
    padding:5px;
    border: 1px solid rgb(198, 198, 240);
    border-radius: 50px;

}
.world i{
    color: blue;
}
.wrld{display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom:  1px solid rgb(198, 198, 240);

}
.wrld i{
    color: blue;
}
.wrld div{
    padding:5px;
    border: 1px solid rgb(198, 198, 240);
    border-radius: 50px;
}
.about-ronald{
    display: flex;
    gap: 6px;
    font-size: 15px;
}
.stats{
    display: flex;
    justify-content: space-between;
}
.stats i{
    /* border: 1px solid rgb(198, 198, 240); */
    border-radius: 100px;
    width: 20px;
    height: 20px;
    /* padding: 15px; */
    padding-top: 10px;
    margin-bottom: 16px;
}
.league{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    color: gray;
    font-size: 12px;
    padding: 15px;
    border-bottom:  1px solid rgb(198, 198, 240);
}
.cup{
    display: flex;
    flex-direction: column;
}
.match{
    padding-top: 10px;
    text-align: center;
}
.world-cup{
    font-size: 17px;
}
.profil{
    padding-top: 20px;
    font-size: 20px;
}
.medials{
    display: flex;
    gap: 2rem;
    padding: 20px 9px;
    border-bottom:  1px solid rgb(198, 198, 240);
}
.medials div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
.instagram{
    width: 30px;
    margin-left: 18px;
}
.twitter{
    width: 30px;
    margin-left: 15px;
}
.facebook{
    width: 30px;
    margin-left: 18px;
}
.youtube{
    width: 30px;
    margin-left: 18px;
}
.people{
    display: flex;
    gap: 8px;
    text-align: end;
    padding: 20px 5px;
}
.people div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.people img{
    width: 70px;
    border-radius: 15px;
}
.people .messi{
    width: 80px;
    height: 70px;
}
.see-more{
    display: flex;
    gap:8px;
    background-color: rgba(238, 236, 236, 0.829);
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    width: 70%;
    justify-content: center;
}
.see-more i{
    padding-top: 5px;
}